@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --cor1: #42223D;
    --cor2: #0E7D4F;
    --cor3: #FFF0D9; 
    --fonteTitulo: "Cinzel Decorative"; 
    --fonteTexto: "Open Sans";
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonteTexto);
}

html{
    scroll-behavior: smooth;
}

h1{
    font-family: var(--fonteTitulo);
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: var(--cor3);
    font-weight: 700;
}

h2{
    font-family: var(--fonteTitulo);
    font-weight: 500;
    padding: 10px;
}

a{
    text-decoration: none;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows:  150px 50px 1fr 30px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "links" "content" "footer";
}

header{
    grid-area: header;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/admin.jpg);
    background-position:top center;
    background-size: cover;
    
}

header .logout{
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 6px;
    border-radius: 4px;
    color: #FFF0D9;
}

header .logout:hover, .view:hover{
    background-color: #44444476;
}

header .view{
    position: absolute;
    top: 55px;
    right: 15px;
    padding: 6px;
    border-radius: 4px;
    color: #FFF0D9;
}

header .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

header .header p{
    font-size: 1.1rem;
    padding: 8px;
    background-color: #0d6dfde9;
    color: var(--cor3);
    border-radius: 4px;
}

 .nav{
    grid-area: links;
    display: flex;
    background-color: #000;
    box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.308);
    z-index: 10;
}

.nav a{
    padding: 8px;
    color: #FFF0D9;
    font-size: 1.3rem;
    margin-left: 10px;
}

.nav a:hover{
    background-color: var(--cor1);
}



main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

div.dashboard{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 260px 1fr;
    z-index: 1;
    grid-template-areas: "buttons report" ;
    gap: 40px;
    background-color: #F5F5F5;
    color: #fff;
}

div.buttons{
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 10px;
    background-color: #e1e1e1;
    box-shadow: 5px 0px 12px rgba(0, 0, 0, 0.148);
    
    
}

.btn-outline-primary.active {
    background-color: #2962FF;
    color: white;
}

div.report-container{
    grid-area: report;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

div.report-container .card{
    width: 60%;
    height: 80%;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.094);
    padding: 30px 15px;
}

div.report-container h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

footer{
    grid-area: footer;
    background-color: var(--cor1);
}