@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --cor1: #BD3537;
    --cor2: #0E7D4F;
    --cor3: #FFF0D9; 
    --fonteTitulo: "Cinzel Decorative"; 
    --fonteTexto: "Open Sans";
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonteTexto);
}

html{
    scroll-behavior: smooth;
}

h1{
    font-family: var(--fonteTitulo);
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: var(--cor3);
}

h2{
    font-family: var(--fonteTitulo);
    font-weight: 500;
    padding: 10px;
}

a{
    text-decoration: none;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows:  300px 1fr 30px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "content" "footer";
}

header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/principal-900px-escuro.jpeg);
    background-position:top center;
    background-size: cover;
    
}

header > i{
    position: fixed;
    top: 2px;
    right: 5px;
    font-size: 2rem;
    color: var(--cor3);
    cursor: pointer;
}

#menu{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 170px;
    background-color: #fff0d9f3;
    border-radius: 0px 0px 0px 5px;
    padding-bottom: 15px;
    z-index: 110;
}

#menu > div{
    display: flex;
    justify-content: right;
}

#menu  i{
    padding-top: 2px;
    padding-right: 5px;
    font-size: 2rem;
    cursor: pointer;
   
}

#links>li{
    padding-top: 10px;
    list-style: none;
    font-size: 1.2rem;
    margin-left: 10px;
}

#links>li>a{
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    font-family: var(--fonteTitulo);
    font-weight: 500;
}


header .boas-vindas{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--cor3);
}

main{
    grid-area: content;
    background-color: var(--cor3);
}

main #traditional{
    padding: 50px 5px;
}

main #sweet{
    padding: 50px 5px;
    background-color: #4b2800;
    color: #fff;
}

main #special{
    padding: 50px 5px;
    background-color: #000;
    color: #fff;
}

main .pizzas{
    display: flex;
    flex-flow: column;
    align-items: center;
}

main .pizza{
    display: flex;
    align-items: center;
    padding:10px;
    margin:0px 10px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.237);
    border-radius: 10px;  
} 

main .pizza .img-pizza{
    width: 180px;
    height: 150px;
    border-radius: 6px;
}

main .pizza .description{
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    max-width: 260px;
    font-size: .8rem;
}

main .pizza .description  div{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

main .pizza .description  div p{
    font-size: 1.3rem;
}

@media (min-width: 1040px){
    main .pizzas{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;
    }

    main .pizza .description{
        width: 320px;
    }

    main .pizza:hover{
        background-color: #000;
        color: var(--cor3);
    }
}

footer{
    grid-area: footer;
    background-color: var(--cor1);
}