body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(../images/principal-900px-escuro.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.card{
    box-shadow: 4px 5px 15px #000 ;;
    width: 70vw;
}

.form-box{
    width: 85vw;
    padding: 20px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: #fff;
}

@media (min-width: 900px){
    .form-box{
        width: 580px;
    }

    .card{
        width: 400px;
    }
}



a{
    text-decoration: none;
    color: #fff;
}

